<div ng-controller="WorkoutController">
  Users
  <div ng-repeat="user in users">
      <div style="margin-left: 20px;">
          name: {{ user.name }} <br/>
          weight: {{ user.weight }} <br/>
          <hr/>
      </div>
  </div>
  <button ng-click="createUser()">
  Create
</button>
</div>